
<footer class="page-footer blue lighten-2">
	<div class="footer-copyright">
		<div class="container">
			&#64; 2014 Copyright Text <a class="grey-text text-lighten-4 right"
				href="#!">More Links</a>
		</div>
	</div>
</footer>

</div>
<!-- SCRIPTS -->
<script type="text/javascript"
	src="../materialize-assets/js/jquery-1.10.2.js"></script>
<!-- TINY MCE SCRIPTS  -->
<script src="../tinymce-assets/tinymce.min.js"></script>
<script type="text/javascript"
	src="../materialize-assets/js/materialize.min.js"></script>
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();
		$('select').material_select();
		//$('#text_area').val('New Text');
		$('#text_area').trigger('autoresize');
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    format: 'dd-mm-yyyy',
		    selectYears: 15 // Creates a dropdown of 15 years to control year
		  });    
	});
</script>
</body>

</html>